<div class="container">
  <h3>URL Statistics '<%= relative_path.capitalize %>' Page Data</h3>
  <div class="s12 datacard z-depth-3">
    <%= erb :'url_data/_response_times_per_url_data' %>
    <%= erb :'url_data/_url_verbs' %>
    <%= erb :'url_data/_url_referrers' %>
    <%= erb :'url_data/_url_browsers' %>
  </div>
</div>
