<table id="visit-table">
  <caption>Most Visited Webpages</caption>
  <thead>
  <tr>
    <th>Number of Visits</th>
    <th>Webpage Address</th>
  </tr>
  </thead>
  <tbody>
  <% if !@urls.nil? %>
      <% @urls.map do |num, website| %>
          <tr>
            <td><%= num %></td>
            <td><%= website %></td>
      <% end %>
  <% end %>
  </tbody>
</table>

<table id="browser-table">
  <caption>Most Used Browsers</caption>
  <thead>
  <tr>
    <th>Number of Visits</th>
    <th>Browser Used</th>
  </thead>
  <tbody>
  <% if !@browsers.nil? %>
      <% @browsers.map do |num, browser| %>
          <tr>
            <td><%= num %></td>
            <td><%= browser %></td>
      <% end %>
  <% end %>
  </tbody>
</table>

<table id="os-list">
  <caption>Most Used Operating System</caption>
  <thead>

  <tr>
    <th>Number of Visits</th>
    <th>Operating System Used</th>
  </tr>
  </thead>
  <tbody>
  <% if !@os.nil? %>
      <% @os.map do |num, os| %>
          <tr>
            <td><%= num %></td>
            <td><%= os %></td>
      <% end %>
  <% end %>
  </tbody>
</table>

<table id="res-list">
  <caption>Most Used Screen Resolutions</caption>
  <thead>
  <tr>
    <th>Number of Visits</th>
    <th>Screen Resolution</th>
  </tr>
  </thead>
  <tbody>
  <% if !@resolutions.nil? %>
      <% @resolutions.map do |num, width, height| %>
          <tr>
            <td><%= num %></td>
            <td><%= width %>x<%= height %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<table id="response-table">
  <caption>Average Response Times by Webpage</caption>
  <thead>
  <tr>
    <th>Webpage Name</th>
    <th>Average Response Time</th>
  </tr>
  </thead>
  <tbody>

    <% if !@avg_response_times.nil? %>
        <% @avg_response_times.map do |time, url| %>
            <tr>
              <td><%=time.to_i  %></td>
              <td><%= url %></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<table id="link-list">
  <thead>
    <caption>Webpage Data</caption>
  <tr>
    <th>Links
    </th>
  </tr>
  </thead>
  <tbody>
  <% if !@links.nil? %>
      <% @link_paths.map do |path| %>
          <tr>
            <td><a href=<%= params[:identifier] %>/urls<%= path %> >http://<%= params[:identifier] %><%= path %></td>
            </a>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<table id="event-list">
  <thead>
    <caption>Event Data Links</caption>
  <tr>
    <th>Links</th>
  </tr>
  </thead>
  <tbody>
  <% if !@links.nil? %>

      <% @link_paths.map do |path| %>
          <tr>
            <td><a href=<%= params[:identifier] %>/events>http://<%= params[:identifier] %><%= path %></td>
            </a>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
