.row
  .col.s12.m12.l4
    .card.cyan.darken-2.stats-card
      .card-content
        %h5.card-title.cyan-text.text-lighten-5 Most Requested URLs
        %table.title-text.bordered#most-requested-urls
          %tr
            %th.weighted Rank
            %th.weighted Path
            %th.weighted Requests
          -@app.payloads.group_count_and_order_relative_path.each_with_index do |data, rank|
            %tr
              %td
                = rank + 1
              %td
                %a.cyan-text.text-lighten-3.card-link{:href => "/sources/#{@app.identifier}/urls#{data[0]}"}
                  = data[0]
              %td.request-count
                = data[1]

  .col.s12.m12.l4
    .card.cyan.darken-2.stats-card
      .card-content
        %h5.card-title.cyan-text.text-lighten-5.weighted Web Browser
        %table.title-text.bordered#web-browser
          %tr
            %th.weighted Rank
            %th.weighted Browser
            %th.weighted Requests
          -@app.payloads.group_count_and_order_browser.each_with_index do |data, rank|
            %tr
              %td
                = rank + 1
              %td
                = data[0]
              %td.request-count
                = data[1]

  .col.s12.m12.l4
    .card.cyan.darken-2.stats-card
      .card-content
        %h5.card-title.cyan-text.text-lighten-5.weighted Operating System
        %table.title-text.bordered#operating-system
          %tr
            %th.weighted Rank
            %th.weighted OS
            %th.weighted Requests
          -@app.payloads.group_count_and_order_operating_system.each_with_index do |data, rank|
            %tr
              %td
                = rank + 1
              %td
                = data[0]
              %td.request-count
                = data[1]
.row
  .col.s12.m12.l6
    .card.cyan.darken-2.stats-card
      .card-content
        %h5.card-title.cyan-text.text-lighten-5.weighted Screen Resolution
        %table.title-text.bordered#screen-resolution
          %tr
            %th.weighted Rank
            %th.weighted Width
            %th.weighted Height
            %th.weighted Requests
          -@app.payloads.group_count_and_order(:resolution).each_with_index do |data, rank|
            %tr
              %td
                = rank + 1
              %td
                = data[0][:width]
              %td
                = data[0][:height]
              %td.request-count
                = data[1]

  .col.s12.m12.l6
    .card.cyan.darken-2.stats-card
      .card-content
        %h5.card-title.cyan-text.text-lighten-5.weighted Average Response Times
        %table.title-text.bordered#average-response-times
          %tr
            %th.weighted Rank
            %th.weighted Path
            %th.weighted Time (ms)
          -@app.payloads.group_average_and_order_response_times.each_with_index do |data, rank|
            %tr
              %td
                = rank + 1
              %td
                = data[0]
              %td.request-count
                = data[1].to_f.round(2)

.row
  .col.s12.m12.l12
    .card.white.link-card.valign-wrapper.cyan.darken-2
      .card-content.valign.center-content
        %h5.card-title
          %a.cyan-text.waves-effect.waves-light.text-lighten-5{:href => "/sources/#{@app.identifier}/events"}Aggregate Event Data
