<ul>
  <% @payloads.each do |payload| %>
    <li>URL Breakdown: <%= payload.url.address %></li>
    <li>Browser Breakdown: <%= payload.payload_user_agent.browser %></li>
    <li>OS Breakdown: <%= payload.payload_user_agent.os %></li>
    <li>Screen Resolution Height: <%= payload.resolution.resolution_height %></li>
    <li>Screen Resolution Width: <%= payload.resolution.resolution_width %></li>
    <li>Response Time: <%= payload.responded_in %></li><br>
  <% end %>
</ul>

<% @relative_paths.each do |relative_path| %>
  <a href="/sources/urls/<%= relative_path %>">URL Index</a>
<% end %>
<a href="/sources/<%= @identifier %>/events">Events</a>
