<h1>Application Details</h1>

<h4>Most Requested URLs</h4>
<% @source.url_counts(@source).each do |url, count| %>
<p>URL:<%= url %> Count: <%= count %></p>
<% end  %>

<h4>Browser Breakdown</h4>
<% @source.browser_counts(@source).each do |browser, count| %>
<p>Browser: <%= browser %> Count: <%= count %></p>
<% end %>

<h4>OS Breakdown</h4>
<% @source.os_counts(@source).each do |os, count| %>
<p>Operating System: <%= os %> Count: <%= count %></p>
<% end %>

<h2>Screen Resolution Across Requests</h2>
<% @source.resolutions(@source).each do |resolutions| %>
<p>Resolution Height: <%= resolutions[0][0] %><br>
Resolution Width: <%= resolutions[0][1] %><br>
Count: <%= resolutions[1] %></p>
<% end %>

<h2>Average Response Time Per URL</h2>
<% @source.response_times(@source).each do |response_times| %>
<p>URL: <%= response_times[0] %><br>
Average Response Time: <%= response_times[1] %> ms</p>
<% end %>

<h2>URL Index</h2>
<% @source.url_index(@source).each do |url| %>
<p>URL: <a href="http://localhost:9393/sources/<%=@source.identifier%>/urls/<%=url.sub("http://#{@source.identifier}.com/","")%>">http://localhost:9393/sources/<%=@source.identifier%>/urls/<%=url.sub("http://#{@source.identifier}.com/","")%></a></p>
<% end %>

<h2>Aggregate Event Data</h2>
<p>Events: <a href="http://localhost:9393/sources/<%=@source.identifier%>/events">http://localhost:9393/sources/<%=@source.identifier%>/events</a></p>
