<h1>Application Details</h1>
<h2>Source: <%= @source.identifier %></h2>

<h2>Most Requested URLs</h2>

<% @url_counts.each do |url, count| %>
<p>URL:<%= url %> Count: <%= count %></p>
<% end  %>

<h2>Browser Breakdown</h2>
<% @browser_counts.each do |browser, count| %>
<p>Browser: <%= browser %> Count: <%= count %></p>
<% end %>

<h2>OS Breakdown</h2>
<% @os_counts.each do |os, count| %>
<p>Operating System: <%= os %> Count: <%= count %></p>
<% end %>
