%h1= @app.identifier

%h3= @url

%h5
  Longest Response Time:
  = @urls.maximum(:responded_in)

%h5
  Shortest Response Time:
  = @urls.minimum(:responded_in)

%h5
  Average Response Time:
  = @urls.average(:responded_in).round(2)

%h5
  HTTP Verbs:
  %ol
    -@urls.group(:request_type).count.each do |verb, count|
      %li
        = verb
        (
        %span>= count
        )

%h5
  Most Popular Referrers:
  %ol
    -@urls.group(:referred_by).count.take(3).each do |referrer, count|
      %li
        = referrer
        (
        %span>= count
        )

%h5
  Most Popular Operating Systems:
  %ol
    -@urls.group(:operating_system).count.take(3).each do |referrer, count|
      %li
        = referrer
        (
        %span>= count
        )

%h5
  Most Popular Browsers:
  %ol
    -@urls.group(:browser).count.take(3).each do |referrer, count|
      %li
        = referrer
        (
        %span>= count
        )
