-if @app.nil? 
  %h3 Identifier has not been registered
-elsif @app.payloads.to_a != []
  %h3= @app.identifier

  %h5 Most requested URLS
  %ol
    -@app.payloads.group(:relative_path).order(count: :desc).count.each do |k, v|
      %li
        %a{:href => "/sources/#{@app.identifier}#{k}"}
          =k
        = v
  %h5 Web Browser
  %ol
    -@app.payloads.group(:browser).count.each do |k, v|
      %li
        = k
        = v
  %h5 Operating System 
  %ol
    -@app.payloads.group(:operating_system).count.each do |k, v|
      %li
        = k
        = v
  %h5 Screen Resolution
  %ol
    -@app.payloads.group(:resolution).count.each do |k, v|
      %li
        = k
        = v
  %h5 Average Response Times
  %ol
    -@app.payloads.group(:relative_path).average(:responded_in).sort_by{|k, v| v}.reverse.each do |k, v|
      %li 
        = k 
        = v
  %h5 Hyperlinks
  %ol
    -@app.payloads.group(:resolution).count.each do |k, v|
      %li
        = k
        = v  
  %a{:href => "/sources/#{@app.identifier}/events"}Aggregate Event Data

-else
  %h5 No Payload data has been received for this source

