<h1>Application Details</h1>

<h4>Most Requested URLs</h4>
<% @url_counts.each do |url, count| %>
<p>URL:<%= url %> Count: <%= count %></p>
<% end  %>

<h4>Browser Breakdown</h4>
<% @browser_counts.each do |browser, count| %>
<p>Browser: <%= browser %> Count: <%= count %></p>
<% end %>

<h4>OS Breakdown</h4>
<% @os_counts.each do |os, count| %>
<p>Operating System: <%= os %> Count: <%= count %></p>
<% end %>
