<div id="client_name">
  <h1>Application Details for: <%= @client.name %></h1>
</div>

<a href="/sources/<%= @client.name %>/events"><%= "#{@client.name} Events Index" %></a>

  <%= erb :'partials/_url_requests_table' %>


<br/>
<div class="container">
  <table class="striped highlight responsive-table bordered centered">
    <thead>
      <tr>
        <th data-field="web_browser">Web Browser</th>
        <th data-field="operating_system">Operating System</th>
        <th data-field="resolution">Resolution</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.all.each do |agent| %>
      <tr>
        <td><%= agent.web_browser %></td>
        <td><%= agent.operating_system %></td>
        <td><%= "#{agent.resolution_width} x #{agent.resolution_height}" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br/>
<div class="container">
  <table class="striped highlight responsive-table bordered centered">
    <thead>
      <tr>
        <th data-field="URL">URL</th>
        <th data-field="response_times">Response Times (milliseconds)</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.url_response_times.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br/>
<div class="container">
  <table class="striped highlight responsive-table bordered centered">
    <thead>
      <tr>
        <th data-field="URL">URL</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.url_hyperlinks.each do |path| %>
      <% temp = path.split(".com/")[1] %>
      <tr>
        <td><a href="/sources/<%= @client.name %>/urls/<%= temp %>"><%= path %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
