<div id="client_name">
  <h1>Application Details for: <%= @client.name %></h1>
</div>

<% @client.payloads.url_requests.each do |k, v| %>
  <p><%= "#{k}: #{v} views."%></p>
  <% end %>

<% @client.payloads.all.each do |agent| %>
  <%= agent.web_browser %>
  <br>
  <%= agent.operating_system %>
  <br>
  <%= "#{agent.resolution_width} x #{agent.resolution_height}" %>
  <% end %>

<% @client.payloads.url_response_times.each do |k, v| %>
  <p><%= "#{k}: #{v} milliseconds."%></p>
  <% end %>

<% @client.payloads.url_hyperlinks.each do |path| %>
  <% temp = path.split(".com/")[1] %>
  <a href="http://localhost:9393/sources/<%= @client.name %>/urls/<%= temp %>"><%= path %></a>
  <% end %>

<br/>

<a href="http://localhost:9393/sources/<%= @client.name %>/events"><%= "#{@client.name} Events Index" %></a>

<br/>
