<div class='container-fluid navbar navbar-default text-center'>
  <a class="navbar navbar-brand navabr-link navbar-nav" href="/sources">Home</a>
  <h3 class="text-center">Application Details<h3>
</div>
<div class="container-fluid">
  <div class="jumbotron container-fluid text-center">
    <div class="col-md-4">
      <div class="container-fluid">
        <h2>Most Requested URLs</h2>
        <% @url_counts.each do |url, count| %>
        <p><%= url %> Count: <%= count %></p>
        <% end %>
      </div>
      <div class="container-fluid">
        <h2>Browser Breakdown</h2>
        <% @browser_counts.each do |browser, count| %>
        <p>Browser: <%= browser %> Count: <%= count %></p>
        <% end %>
      </div>
      <div class="container-fluid">
        <h2>OS Breakdown</h2>
        <% @os_counts.each do |os, count| %>
        <p>Operating System: <%= os %> Count: <%= count %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <div class="container-fluid">
        <h2>Screen Resolution Across Requests</h2>
        <% @resolutions.each do |data| %>
        <p>Resolution: <%= data[0][1] %>x<%= data[0][0] %> px<br>Count: <%= data[1] %></p>
        <% end %>
      </div>
      <div class="container-fluid">
        <h2>Average Response Time Per URL</h2>
        <% @response_times.each do |data| %>
        <p><%= data[0] %><br>
        Average Response Time: <%= data[1] %> ms</p>
        <% end %>
      </div>
    </div>
  </div>
    <div class="text-center white-text col-md-2 col-md-offset-2">
      <h2>URL Index</h2>
      <% @source.payloads.pluck(:url).uniq.each do |url| %>
      <a class="white-text inline" href="http://localhost:9393/sources/<%=@source.identifier%>/urls/<%=url.sub("http://#{@source.identifier}.com/","")%>">http://localhost:9393/sources/<%=@source.identifier%>/urls/<%=url.sub("http://#{@source.identifier}.com/","")%></a><br>
      <% end %>
    </div>
    <div class="text-center white-text col-md-3 col-md-offset-4">
      <h2>Aggregate Event Data</h2>
      <a class="white-text" href="http://localhost:9393/sources/<%=@source.identifier%>/events">http://localhost:9393/sources/<%=@source.identifier%>/events</a>
    </div>
</div>
