%h1= @app.identifier

%h3= @url

%h5#longest_response_time
  Longest Response Time:
  = @urls.max_response_time

%h5#shortest_response_time
  Shortest Response Time:
  = @urls.min_response_time

%h5#average_response_time
  Average Response Time:
  = @urls.avg_response_time

%h5#http_verbs
  HTTP Verbs:
  %ol#http_verbs_list
    -@urls.group_count_and_order(:request_type).each do |verb, count|
      %li
        = verb
        (
        %span>= count
        )

%h5#most_pop_referrers
  Most Popular Referrers:
  %ol#most_pop_referrers_list
    -@urls.get_top_3(:referred_by).each do |referrer, count|
      %li
        = referrer
        (
        %span>= count
        )

%h5#most_pop_os
  Most Popular Operating Systems:
  %ol#most_pop_os_list
    -@urls.get_top_3(:operating_system).each do |referrer, count|
      %li
        = referrer
        (
        %span>= count
        )

%h5#most_pop_browsers
  Most Popular Browsers:
  %ol#most_pop_browsers_list
    -@urls.get_top_3(:browser).each do |referrer, count|
      %li
        = referrer
        (
        %span>= count
        )
