<h1>This is your user stats page, <%= @client.identifier.capitalize %></h1>

<h2>Here are the statistics for your account:</h2><br>

<div class="client-stats">
  <p>
    Average Response Time:<br>
     <%= @payloads.average_response_time %>
  </p>
  <p>
    Max Response Time: <br>
    <%= @payloads.max_response_time %>
  </p>
  <p>
    Min Response Time: <br>
    <%= @payloads.min_response_time %>
  </p>
  <p>
    Most Frequent Request Type: <br>
    <%= @payloads.most_frequent_request_type %>
  </p>
  <p>
    HTTP verbs used on your sites: <br>
    <%= @payloads.most_frequent_request_type %>
  </p>
  <p>
    URLs visited from most to least: <br>
    <%= @payloads.sort_urls_by_request_freqency.join(", ") %>
  </p>
  <p>
    Web Browser Breakdown: <br>
    <%= @user_systems.browser_breakdown.join(", ") %>
  </p>
  <p>
    Operating System Breakdown: <br>
    <%= @user_systems.os_breakdown.join(", ") %>
  </p>
  <p>
    Screen Resolution Breakdown: <br>
    <%= @resolutions.screen_resolutions.join(", ") %>
  </p>
</div>
