<h1> Welcome <%= client.identifier.capitalize %> </h1>

<div class="information_board">

      <h3>Most Visited Urls</h3>
      <h4>(Ordered Most to Least Visited)</h4>
          <% client.ordered_most_to_least_sites.uniq.each do |site| %>
            <p><a href="/sources/<%= client.identifier %>/urls<%= URI(site).path %>"><%= site %></a></p>
          <% end %>
      <h3>Web Browsers Used to Visit Your Pages</h3>
        
          <% client.browser_information.uniq.each do |browser| %>
            <p><%= browser %></p>
          <% end %>
      <h3>Operating Systems Used to Visit Your Pages</h3>
          <% client.operating_systems_information.uniq.each do |os| %>
            <p><%= os %></p>
          <% end %>
      <h3>Resolutions While Visiting Your Pages</h3>
          <% client.resolution_information.each do |res| %>
            <p><%= res %></p>
          <% end %>
        <h3>Average Response Times</h3>
            <% client.ordered_most_to_least_avg_response.each do |url_time| %>
              <p><%= url_time[:url]  %> - <%= url_time[:avg_time] %>ms</p>
            <% end %>
        <h3><a href="/sources/<%= client.identifier %>/events">Event Data</a></h3>
</div>
