<h1> <%= @url.root_url + @url.path %> </h1>
<table>
  <tr>
    <th>Statistic</th>
    <th>Stats</th>
  </tr>

  <tr>
    <td>Max Response Time</td>
    <td><%= @url.max_response_time %></td>
  </tr>

  <tr>
    <td>Min Response Time</td>
    <td><%= @url.min_response_time %></td>
  </tr>

  <tr>
    <td>Response Times</td>
    <td><%= @url.response_times_desc.join(", ") %></td>
  </tr>

  <tr>
    <td>Average Response Time</td>
    <td><%= @url.average_response_time %></td>
  </tr>

  <tr>
    <td>List of Http Verbs</td>
    <td><%= @url.all_http_verbs.join(", ") %></td>
  </tr>

  <tr>
    <td>Top Three Referrers</td>
    <td><%= @url.top_three_referrals.join(", ") %></td>
  </tr>

  <tr>
    <td> Top Three Agents </td>
    <td><%= @url.top_three_agents.join(", ")%></td>
  </tr>

</table>
