<h1>This is your user stats page, <%= @client.identifier.capitalize %></h1>

<h2>Here are the statistics for your account:</h2><br>

<div class="client-stats">
  <h4>
    Average Response Time:<br>
  </h4>
    <p>
      <%= @payloads.average_response_time %>
    </p>
  <h4>
    Max Response Time: <br>
  </h4>
    <p>
      <%= @payloads.max_response_time %>
    </p>
  <h4>
    Min Response Time: <br>
  </h4>
    <p>
      <%= @payloads.min_response_time %>
    </p>
  <h4>
    Most Frequent Request Type: <br>
  </h4>
    <p>
      <%= @payloads.most_frequent_request_type %>
    </p>
  <h4>
    HTTP verbs used on your sites: <br>
  </h4>
    <p>
      <%= @payloads.most_frequent_request_type %>
    </p>
  <h4>
    URLs visited from most to least: <br>
  </h4>
    <% @payloads.each do |payload| %>
    <p>
      <a href="/sources/<%= @client.identifier %>/url/<%= Url.where(id: payload.url_id).first.address.split("/")[3..-1].join %>"><%= Url.where(id: payload.url_id).first.address %></a>
    </p>
    <% end %>
  <h4>
    Web Browser Breakdown: <br>
  </h4>
    <p>
      <%= @user_systems.browser_breakdown.join(", ") %>
    </p>
  <h4>
    Operating System Breakdown: <br>
  </h4>
    <p>
      <%= @user_systems.os_breakdown.join(", ") %>
    </p>
  <h4>
    Screen Resolution Breakdown: <br>
  </h4>
    <p>
      <%= @resolutions.screen_resolutions.join(", ") %>
    </p>
</div>
