<h1>This is your user stats page, <%= @client.identifier.capitalize %></h1>

<h2>Here are the statistics for your account:</h2><br>

<div class="client-stats">
  <p>
    Average Response Time:<br>
     <%= @payloads.average_response_time %>
  </p>
  <p>
    Max Response Time: <br>
    <%= @payloads.max_response_time %>
  </p>
  <p>
    Min Response Time: <br>
    <%= @payloads.min_response_time %>
  </p>
  <p>
    Most Frequent Request Type: <br>
    <%= @payloads.most_frequent_request_type %>
  </p>
  <p>
    HTTP verbs used on your sites: <br>
    <%= @payloads.most_frequent_request_type %>
  </p>
  <p>
    URLs visited from most to least: <br>
    <%= @payloads.sort_urls_by_request_freqency %>
  </p>
  <p>
    Web Browser Breakdown: <br>
    <%= @payloads.first.user_system_id %>
  </p>
  <p>
    Operating System Breakdown: <br>
    <%= @payloads.first.user_system_id %>
  </p>
  <p>
    Screen Resolution Breakdown: <br>
    <%= @payloads.first.resolution_id %>
  </p>

  <!-- assert_equal '/sources/google', current_path
  within('.client_stats') do
    assert page.has_content? 'Average Response Time'
    assert page.has_content? 'Max Response Time'
    assert page.has_content? 'Min Response Time'
    assert page.has_content? 'Most Frequent Request Type'
    assert page.has_content? 'List of all HTTP verbs used'
    assert page.has_content? 'List of URLs from most to least requested'
    assert page.has_content? 'Web Browser Breakdown'
    assert page.has_content? 'OS Breakdown'
    assert page.has_content? 'Screen Resolutions Used' -->
</div>
