<h1 class="col-md-12 nav navbar-default navbar-static-top navbar-brand text-center"><%= @client.identifier.capitalize %> Payload Statistics & Data</h1>
<br>
<div class="text-center">
  <p> You are viewing the data for <%= @client.identifier.capitalize %>,
    you can see all the statistical data for the following client:
    <%= @client.identifier.capitalize %>.</p>
  </div>
</div>

<div class="container-fluid">
  <div id="response_times" class="text-center row">
    <div class="col-md-offset-3 col-md-6">
      <%= erb :dashboard_response_time_table,
      locals: { average: @client.average_response_time,
        min: @client.min_response_time,
        max: @client.max_response_time,
        freq: @client.most_frequent_request_type} %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="request_and_url" class="text-center row">
    <div class="col-md-offset-3 col-md-6">
      <%= erb :dashboard_request_and_url_table,
      locals: { all: @client.list_of_all_http_verbs_used,
        most: @client.most_frequent_request_type,
        most_url: @client.list_urls_from_most_to_least,
        res: @client.all_screen_resolutions} %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="software_agents" class="text-center row">
    <div class="col-md-offset-3 col-md-6">
      <%= erb :dashboard_software_agents_table,
      locals: { browser: @client.web_browser_breakdown,
        os: @client.web_os_breakdown} %>
    </div>
  </div>
</div>

<!-- <div class="container-fluid text-center">
  <div class="url_specific">
    <p>
      <%= "<a href=/sources/#{@identifier}/urls/#{@rel_path}>View URL Specific Data</a>" %>
   </p>
  </div>
</div> -->
