<table id="response-times" class="table table-striped table-bordered table-hover table-sm">
  <tr class="info">
    <td> All HTTP Verbs Used </td>
    <td> <%= all %> </td>
  </tr>
  <tr class="active">
    <td> URL Requests - Most to Least </td>
    <td> <a href="<%= most %>"><%= most %></a></td>

  </tr>
  <tr class="info">
    <td> Operating Systems </td>
    <td> <%= os %> </td>
  </tr>
    <tr class="active">
      <td> Browsers </td>
      <td> <%= browser  %> </td>
    </tr>
</table>
