<h1>Site data for <%= @source.identifier %></h1>
<h2>URLs</h2>
<ol>
  <% @source.requested_urls.each do |url, count| %>
  <li><%= url %> <%= count %></li>
  <% end %>
</ol>
<h2>Average Response Times</h2>
<ol>
  <% @source.average_times.each do |url, count| %>
  <li><%= url %> <%= count %></li>
  <% end %>
</ol>
