%h1
  = @app.identifier.capitalize
  Events Index

%ol
  -@app.payloads.group_count_and_order(:event).each do |k, v|
    %li
      %a{:href => "/sources/#{@app.identifier}/events/#{k}"}
        = k
      = v
