.container
  %h1.title-text.weighted.underline.center
    = @app.identifier.capitalize
    Events Index

%ol.center
  -@app.payloads.group_count_and_order_event.each do |k, v|
    %li
      %a{:href => "/sources/#{@app.identifier}/events/#{k}"}
        %h3.title-text.btn-large.cyan.darken-2.waves-effect.waves-light.shadow.center
          = k
          = v
