<div class='container-fluid navbar navbar-default text-center'>
  <a class="navbar navbar-brand navabr-link navbar-nav" href="/sources">Home</a>
</div>
  <h1 class="text-center white-text"><%=@event_name%></h1>
<div class="jumbotron col-md-4 col-md-offset-4">
  <table class="table table-condensed table-bordered">
    <tr>
      <th>Hour</th>
      <th>Occurrences</th>
    </tr>
    <% TrafficSpy::EventData.hour_counts(@payload).each do |d| %>
    <tr>
      <td> <%= d[0] %> </td>
      <td> <%= d[1] %> </td>
    </tr>
    <% end %>
  </table>
  <div class="text-center">
    <p>Total Requests:<%= TrafficSpy::EventData.total_count(@payload) %></p>
    <a href="http://localhost:9393/sources/<%= @source.identifier %>/events"><%= @source.identifier %> events index</a>
  </div>
</div>
