<div id="sources">
  <div class='col-md-12 navbar navbar-default navbar-static-top navbar-inverse'>
    <a href='/' class='navbar-brand'>Rush Hour</a>
    <ul class='nav navbar-nav navbar-right'>
      <li><a href = "https://www.youtube.com/watch?v=ZFq_TFyhzmo">Full Movie</a></li>
      <li><a href = "https://www.redbubble.com/shop/jackie+chan">Store</a></li>
      <li class='dropwdown'>
        <a href = '#' class='dropdown-toggle' data-toggle='dropdown'>Events
        <span class="caret"></span></a>
        <ul class='dropdown-menu'>
          <% @events.each do |event| %>
            <li><a href="/sources/<%= @client.identifier %>/events/<%= event %>"><%= event %></a></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <form class="navbar-form" role="search" action="/redirect" method="get">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="search-id">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search">
							<span class="sr-only">Search</span>
						</span>
					</button>
				</span>
			</div>
		</form>
  </div>
</div>

<div class="event">
<h1> Event: <%= @eventname %> </h1>
<table class="table-center">
  <caption class="back"><a href="/sources/<%= @client.identifier%>"><<</a></caption>
  <tr>
    <th>Hour (Military)</th>
    <th>Frequency</th>
  </tr>
  <% @data.each do |key, value|%>
  <tr>
    <td><%=key%></td>
    <td><%=value%></td>
  </tr>
  <% end %>
  <tr>
    <td>Total</td>
    <td><%= @total %></td>
  </tr>
</table>
</div>
