<h1>Events Index</h1>
<ul>
  <% @client.payloads.event_requests.each do |k, v| %>
    <li><a href="http://localhost:9393/sources/<%= @client.name %>/events/<%= k %>"><%= k %></a> : <%= "#{v} requests"%></li>
  <% end %>
</ul>

<br/>
<div class="container">
  <table class="striped highlight responsive-table bordered centered">
    <thead>
      <tr>
        <th data-field="events">Events Requested</th>
        <th data-field="requests">Frequency</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.event_requests.each do |k, v| %>
      <tr>
        <td><a href="http://localhost:9393/sources/<%= @client.name %>/events/<%= k %>"><%= k %></a></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
