<h1>Event Breakdown for  <%= @client.identifier.capitalize %></h1>

<div class="hourly-breakdown">
  <p>12am - 1am<%= @events. %></p>
  <p>1am - 2am<%= @events. %></p>
  <p>2am - 3am<%= @events. %></p>
  <p>3am - 4am<%= @events. %></p>
  <p>4am - 5am<%= @events. %></p>
  <p>5am - 6am<%= @events. %></p>
  <p>6am - 7am<%= @events. %></p>
  <p>7am - 8am<%= @events. %></p>
  <p>8am - 9am<%= @events. %></p>
  <p>9am - 10am<%= @events. %></p>
  <p>10am - 11am<%= @events. %></p>
  <p>11am - 12pm<%= @events. %></p>
  <p>12pm - 1pm<%= @events. %></p>
  <p>1pm - 2pm<%= @events. %></p>
  <p>2pm - 3pm<%= @events. %></p>
  <p>3pm - 4pm<%= @events. %></p>
  <p>4pm - 5pm<%= @events. %></p>
  <p>5pm - 6pm<%= @events. %></p>
  <p>6pm - 7pm<%= @events. %></p>
  <p>7pm - 8pm<%= @events. %></p>
  <p>8pm - 9pm<%= @events. %></p>
  <p>9pm - 10pm<%= @events. %></p>
  <p>10pm - 11pm<%= @events. %></p>
  <p>11pm - 12am<%= @events. %></p>
</div>
