<h1><%=@event_name%></h1>
<% times = @payload.map do |payload| %>
<% payload.requested_at %>
<% end %>

<% time_counts = times.group_by { |utc| DateTime.parse(utc.to_s).hour } %>

<% times = time_counts.map { |find| find.first } %>
<% counts = time_counts.map { |find| find.last.count } %>
<% times_counts = counts.zip(times).sort %>
<% "#{times_counts[0]} :::: #{times_counts[1]}" %>

<table>
  <tr>
    <th>Hour</th>
    <th>Occurrences</th>
  </tr>
  <% times_counts.each do |d| %>
  <tr>
    <td> <%= d[0] %> </td>
    <td> <%= d[1] %> </td>
  </tr>
  <% end %>
</table>

<p>Total Requests:<%= all_counts = counts.reduce(:+) %></p>

<a href="http://localhost:9393/sources/<%= @source.identifier %>/events"><%= @source.identifier %> events index</a>
