<h1>Event Breakdown for  <%= @client.identifier.capitalize %></h1>
<h3>Event Type: <%= @event.event_name %></h3>
<h4>Total Occurrences <%= EventName.event_total(@client, @event) %></h4>
<div class="hourly-breakdown">
  <ul>
    <% hours = EventName.hourly_list(@client, @event)%>
    <% (0..23).to_a.each do |hour| %>
      <li>  Hour <%= hour %>:00 => <%= hours.count(hour) %> </li>
    <% end %>
  </ul>
</div>
