%html
  %head
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:href => "/css/materialize.min.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Indie+Flower", :rel => 'stylesheet', :type =>'text/css'}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:rel => "stylesheet", :href => "/css/custom.css"}
    %link{:href => 'https://fonts.googleapis.com/css?family=Questrial', :rel => 'stylesheet', :type => 'text/css'}
    %title TrafficSpy Analytics
  %body.black

  / Navigation
  %ul#dropdown1.dropdown-content
    -TrafficSpy::Application.all.each do |app|
      %li
        %a.cyan-text.text-darken-2{:href => "/sources/#{app.identifier}"}
          = app.identifier
  .navbar.weighted
    %nav
      .nav-wrapper.cyan.darken-2
        %a.brand-logo{:href => "/"} TrafficSpy
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
          %i.material-icons menu
        %ul.right.hide-on-med-and-down
          %li
            %a{:href => "/"} HomePage
          %li
            %a{:href => "/sources"} Registered Applications
          %li
            %a.dropdown-button{"data-activates" => "dropdown1", :href => "#!"}
              Jump to App
              %i.material-icons.right arrow_drop_down
        %ul#mobile-demo.side-nav
          %li
            %a{:href => "/"} Dashboard
          %li
            %a{:href => "/sources"} Registered App Index
          %li.divider
          -TrafficSpy::Application.all.each do |app|
            %li
              %a{:href => "/sources/#{app.identifier}"}
                = app.identifier

    = yield

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:type => "text/javascript", :src =>"https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:type => "text/javascript", :src => "/js/materialize.min.js"}
    :javascript
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      });
