<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h1 id= "identifier"><%= @source.identifier.capitalize %> Dasboard</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h3 id="most_viewed"> Most Viewed Urls</h3>
      <ul>
        <% @slugs.each do |slug| %>
          <li><%= slug %></li>
        <% end %>
      </ul>
      </br>

      <h3 id="average_responses">Average Response Times</h3>
        <ul>
        <% @average_responses.each do |response| %>
          <li><%= response.responded_in %></li>
        <% end %>
      </ul>
      </br>

      <h3 id="breakdown"> Web Broswer Breakdown</h3>
      <ul>
        <% @browser_counts.each do |b| %>
         <li><%= b[0]%>: <%= b[1]%></li>
          <% end %>
        </ul>
      </br>

      <h3 id="resolution">Screen Resolutions</h3>
      <ul>
        <% @resolutions.each do |resolution| %>
          <li><%= resolution.resolution_width %> x <%=
          resolution.resolution_height %></li>
        <% end %>
      </ul>
      </br>

      <h3 id="os">Operating System Breakdown</h3>
      <ul>
        <% @os_counts.each do |os| %>
          <li><%= os[0] %>: <%= os[1] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <a href="/sources/<%= @source.identifier %>/events">Events</a>
      </br>
    </div>
  </div>
</div>
