<div class="container">
  <div class="row well">
    <div class="col-md-12">

      <h1><%= @source.identifier.capitalize %> Dasboard</h1>
      </br>
      <h4> Most Viewed Urls</h4>
      <ul>
        <% @slugs.each do |slug| %>
          <li><%= slug %></li>
        <% end %>
      </ul>
      </br>
      <h4>Average Response Times</h4>
        <% @average_responses.each do |response| %>
          <li><%= response.responded_in %></li>
        <% end %>
      <h4> Web Broswer Breakdown</h4>
      <% @browser_counts.each do |b| %>
       <li><%= b[0]%>: <%= b[1]%></li>
        <% end %>
      <h4>Screen Resolutions</h4>
      <ul>
        <% @resolutions.each do |resolution| %>
          <li><%= resolution.resolution_width %> x <%=
          resolution.resolution_height %></li>
        <% end %>
      </ul>
      </br>
      <h4>Operating System Breakdown</h4>
      <ul>
        <% @os_counts.each do |os| %>
          <li><%= os[0] %>: <%=
          os[1] %></li>
        <% end %>
      </ul>
      </br>
    </div>
  </div>
</div>
