<h1> <%= @client.identifier %></h1>
<table>
  <tr>
    <th>Statistic</th>
    <th>Stats</th>
  </tr>
  <tr>
    <td>Average Response Time</td>
    <td><%= @client.average_response_time %></td>
  </tr>

  <tr>
    <td>Max Response Time</td>
    <td><%= @client.max_response_time %></td>
  </tr>

  <tr>
    <td>Min Response Time</td>
    <td><%= @client.min_response_time %></td>
  </tr>

  <tr>
    <td>Most Frequent Request Type</td>
    <td><%= @client.most_frequent_request_type %></td>
  </tr>

  <tr>
    <td>List of Http Verbs</td>
    <td><%= @client.all_request_types.join(", ") %></td>
  </tr>

  <tr>
    <td>Urls from Most Requested to Least</td>
    <td>
    <% @client.urls_descending.each do |urlpath| %>
      <a href="/sources/<%=@id%>/urls/<%=urlpath.split('/')[-1]%>"><%=urlpath%></a>
    <% end %>
  </td>
  </tr>

  <tr>
    <td>Web Browswer Breakdown</td>
    <td><%= @client.browser_breakdown.to_a.flatten.join(": ") %></td>
  </tr>

  <tr>
    <td>Operating System Breakdown </td>
    <td><%= @client.os_breakdown.to_a.flatten.join(": ") %></td>
  </tr>

  <tr>
    <td>Screen Resolution </td>
    <td>
      <% @client.resolutions_breakdown.each do |rez| %>
        <table>
          <tr><th>Height</th><th>Width</th><th>Count</th></tr>
          <tr>
            <td><%=rez[0]["height"]%></td>
            <td><%=rez[0]["width"]%></td>
            <td><%=rez[1]%></td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>

</table>
