<div id="analytics">

<h3>Max Response time: <%= @requests.max_response_time %></h3>
<h3>Min Response time: <%= @requests.min_response_time %></h3>
<h3>A list of response times across all requests listed from longest response time to shortest response time  <%= @requests.max_response_time %></h3>
<h3>Average Response time for this URL <%= @requests.average_response_time.round(2) %></h3>
<h3>HTTP Verb(s) associated with this URL: YOYOYOYOYOYO </h3>
<h3>Three most popular referrers <%= @requests.max_response_time %>YOYOYOYO </h3>
<h3>Three most popular user agents YOYOYOYOYOYOO</h3>
<h3>Web browser breakdown across all requests:YOYOYOYOYOk</h3>
<h3>OS breakdown across all requests: YOYOYOYO</h3>
<h3>Screen Resolutions across all requests (resolutionWidth x resolutionHeight): YOYOYOYO</h3>

</div>
