
<h1> Data for <%= @client.identifier %>: </h1>
<h3>
 Average Response Time: <%= @client.payload_requests.average_response_time %><br />
 Minimum Response Time: <%= @client.payload_requests.min_response_time %><br />
 Maximum Response Time: <%= @client.payload_requests.max_response_time %><br />
 Most Frequent Request Types: <%= @client.payload_requests.most_frequent_request_type %><br />
 Most Requested Browser Type: <%= @client.user_agent_devices.browser_breakdown %><br />
 List of URLs listed from most requested to least requested: <%= @client.urls.top_urls %><br />
 Web browser breakdown across all requests: <%= @client.user_agent_devices.os_breakdown %><br />
 OS breakdown across all requests: <%= @client.user_agent_devices.browser_breakdown %><br />
 Screen Resolutions across all requests: <%= @client.resolutions.resolution %><br />
</h3>
