<div class="jumbotron">
  <h1>Welcome to Rush Hour</h1>
</div>

<%= jumpstart_link %> <br>
<%= google_link %> <br>
<%= apple_link %> <br>
<%= microsoft_link %> <br>
<%= palantir_link %> <br>
<%= yahoo_link %> <br>
<%= turing_link %> <br>
<%= facebook_link %> <br>


