<h1>Welcome <%= @id %></h1>
<p>Here is a handy list of all your cool stats!</p>

<h2>Most Visited Urls</h2>
  <ol>
    <% @urls_count.each do |key, value| %>
      <li><%= key %> - Hit <%= value %> times</li>
    <% end %>
  </ol>

<h2>Average Response Times</h2>
  <ol>
    <% @response_time_count.each do |key, value| %>
      <li><%= key %> - Average response time of <%= value.to_i %> seconds</li>
    <% end %>
  </ol>

<h2>Resolution</h2>
<ol>
  <% @resolution_count.each do |resolution, count| %>
    <li><%= resolution %> pixel screen -  <%= count %> times </li>
  <% end %>
</ol>

<h2>Browser Breakdown</h2>
  <ol>
    <% @browser_breakdown.each do |key, value| %>
      <li><%= key %> was used <%= value %> times</li>
    <% end %>
  </ol>

<h2>Operating System Breakdown</h2>
  <ol>
    <% @os_breakdown.each do |key, value| %>
      <li><%= key %> was used <%= value %> times</li>
      <% end %>
  </ol>

<h2>URL Statistics</h2>
  <ul>
    <% @urls_count.each do |key| %>
      <li>
        <a id='urllink' href="/sources/<%= @source.identifier %>/urls/<%= key.split('/').last %>"><%= key %></a>
      </li>
    <% end %>
  </ul>
