<p>Most Requested URLS to Least Requested URLS <%= @max_min_hash %></p>
<p>Web Browser Breakdown <%= @browsers %></p>
<p>OS Breakdown <%= @os_breakdown %></p>
<p>Screen Resolution <%= @resolution %></p>
<p>Longest to Shortest Response Times <%= @response_time %></p>

<p>Hyperlinks of each URL:</p>
<% @urls_display.each_with_index do |url, index| %>
<p><a href="/sources/<%= @identifier %>/url<%= @paths[index] %>"><%= url %></a></p>
<% end %>

<p>Hyperlink to view event data</p>
<p><a href="/sources/<%= @identifier %>/events">Events</a></p>
