<div class="jumbotron">
  <h1>Data for a User's Name</h1>
  <h3>Payloads</h3> 
  
  <div>
        
    <table class="table table-hover table-condensed">
      <tr>
        <td>Average response time across all payloads:</td>
        <td><%= @client.payloads.average_response_time %></td>
      </tr>
      <tr>
        <td>Max response time across all payloads:</td>
        <td><%= @client.payloads.max_response_time %></td>
      </tr>
      <tr>
        <td>Min response time across all payloads:</td>
        <td><%= @client.payloads.min_response_time %></td>
      </tr>
      <tr>
        <td>Most frequent request type:</td>
        <td><%= @client.payloads.most_frequent(:request_type) %> </td>
      </tr>
      <tr>
        <td>List of all http verbs:</td>
        <td><%= @client.request_types.all_http_verbs %> </td>
      </tr>
      <tr>
        <td>List of URLs from most to least:</td>
        <td><%= @client.urls.most_to_least_requested %></td>
      </tr>
      <tr>
        <td>Web browser breakdown across all payloads:</td>
        <td><%= @client.agents.browser_breakdown(@client.payloads) %></td>
      </tr>
      <tr>
        <td>OS breakdown across all payloads:</td>
        <td><%= @client.agents.os_breakdown(@client.payloads) %> </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    
  </div>
  
</div>