<h1>URL Stats!</h1>

<p>Longest response time: <%= @longest_response_time %> </p>

<p>Shortest response time: <%= @shortest_response_time %> </p>

<p>Average response time: <%= @average_response_time %> </p>

<p>Which HTTP verbs have been used: <%= @http_verbs %> </p>

<p>Most popular referrrers: <%= @referral %> </p>

<p>Most popular user agents: <%= @top_agents %> </p>
