<h1>Unique URLS</h1>

<table>
  <tr><td>Longest Reponse Time: <%= @longest_response_time %></td></tr>
  <tr><td>Shortest Reponse Time: <%= @shortest_response_time %></td></tr>
  <tr><td>Average Reponse Time: <%= @average_response_time %></td></tr>
  <tr><td>Request Types: <%= @request_types %></td></tr>
  <tr><td>Most Popular Referrer: <%= @referrers %></td></tr>
  <tr><td>Most Popular Browser: <%= @user_agent_browser %></td></tr>
  <tr><td>Most Popular Platform: <%= @user_agent_platform %></td></tr>
</table>
