<div class='container-fluid navbar navbar-default text-center'>
  <a class="navbar navbar-brand navabr-link navbar-nav" href="/sources">Home</a>
</div>
<h1 class="text-center white-text">Url Statistics</h1>
<div class="jumbotron text-center">
  <div class="container-fluid">
    <h2>Longest Response Time</h2>
    <p><%= @relevant_payloads.maximum(:responded_in) %> ms</p>

    <h2>Shortest Response Time</h2>
    <p><%= @relevant_payloads.minimum(:responded_in) %> ms</p>

    <h2>Average Response Time</h2>
    <p><%= @relevant_payloads.average(:responded_in).to_i %> ms</p>
  </div>
</div>

<div class="jumbotron container-fluid col-md-4 col-md-offset-4">
  <h2>Verb Usage</h2>
  <% verbs = @relevant_payloads.group(:request_type).count.to_a %>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Verb</th>
      <th>Count</th>
    </tr>
  <% verbs.each do |verb, count| %>
    <tr>
      <td> <%= verb %> </td>
      <td> <%= count %> </td>
    </tr>
  <% end %>
  </table>

  <h2>Most Popular Referrers</h2>
  <% referrers = @relevant_payloads.group(:referred_by).count.to_a %>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Referrer</th>
      <th>Count</th>
    </tr>
  <% referrers.each do |referrer, count| %>
    <tr>
      <td> <%= referrer %> </td>
      <td> <%= count %> </td>
    </tr>
  <% end %>
  </table>


  <h2>Most Popual User Agents</h2>
  <% agents = @relevant_payloads.group(:user_agent).count.to_a %>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Agent</th>
      <th>Count</th>
    </tr>
  <% agents.each do |agent, count| %>
    <tr>
      <td> <%= UserAgent.parse(agent).platform %> </td>
      <td> <%= count %> </td>
    </tr>
  <% end %>
  </table>
</div>
