<h1>Url Stats for <%= @client.identifier.capitalize %></h1>

<div class="url-specific-stats">
  <p>Max Response Time: <br> <%= @url_obj.max_response_time %></p>
  <p>Min Response Time: <br> <%= @url_obj.min_response_time %></p>
  <p>Average Response Time: <br> <%= @url_obj.average_response_time.to_i %></p>
  <p>Response Times Across All Requests: <br> <%= @url_obj.all_response_times_sorted_high_to_low.join(", ") %></p>
  <p>HTTP Verbs Used: <br> <%= @url_obj.all_http_verbs.join(", ") %></p>
  <p>Top Three Referrers: <br> <%= @url_obj.top_three_referrers.join(", ") %></p>
  <p>Top Three User Agents: <br> <%= @url_obj.top_three_user_systems.join(", ") %></p>
</div>
