<h1>URL Details for: <%= @path_requested %></h1>

  <%= erb :'partials/_url_details_response_times' %>

  <%= erb :'partials/_http_request_types' %>

  <%= erb :'partials/_referrals_table' %>

  <%= erb :'partials/_top_user_agents' %>
