<h1>URL-Specific Statistics</h1>

<h2>Most Popular Referrer</h2>
  <ul>
    <li><%= @source.popular_referrer.first.first %></li>
  </ul>

<h2>Most Popular Browser</h2>
  <ul>
    <li><%= @source.most_popular_browser.first.first %></li>
  </ul>

<h2>Most Popular Operating System</h2>
  <ul>
    <li><%= @source.most_popular_operating_system.first.first %></li>
  </ul>

<h2>HTTP Verbs Used</h2>
  <ul>
    <% @source.http_verbs_used.each do |key, value| %>
      <li><%= key %></li>
    <% end %>
  </ul>

<h2>Shortest Response Time</h2>
  <ul>
    <li><%= @source.shortest_response_time %> seconds</li>
  </ul>

<h2>Longest Response Time</h2>
  <ul>
    <li><%= @source.longest_response_time %> seconds</li>
  </ul>

<h2>Average Response Time</h2>
  <ul>
    <li><%= @source.average_response_time.to_i %> seconds</li>
  </ul>


