<h2>URL Statistics</h2>

<h3> <%= relative_path.capitalize %> Data</h3>

<div id = "longest_response_time">
  <h4>Longest Response Time: <%= @url_payloads.max_response_time %></h4>
</div>

<div id = "shortest_response_time">
  <h4>Shortest Response Time: <%= @url_payloads.min_response_time %></h4>
</div>

<div id = "avg_response_time">
  <h4>Average Response Time: <%= @url_payloads.average_response_time_per_url %></h4>
</div>

<div id = "verbs">
  <h4>HTTP Verbs Received:
    <% @url_payloads.http_verbs.each_with_index do |verb, index| %>
      <%= verb %><%= ',' unless @url_payloads.http_verbs.count - 1 == index %>
    <% end %>
  </h4>
</div>

<div id = "referred_by">
  <h4>Top 3 Bestest Referrers:
    <% @url_payloads.referrers.each_with_index do |ref, index| %>
      <%= ref[0] %><%= ',' unless @url_payloads.referrers.count - 1 == index %>
    <% end %>
  </h4>
</div>

<div id = "browsers">
  <h4>Top 3 Bestest BadAss Browsers:
    <% @url_payloads.browsers.each_with_index do |browser, index| %>
      <%= browser[0] %><%= ',' unless @url_payloads.browsers.count - 1 == index %>
    <% end %>
  </h4>
</div>
