<div class="container">
  <h3>URL Statistics '<%= relative_path.capitalize %>' Page Data</h3>

  <div class="row">
    <div class="s12 datacard z-depth-3">
      <%= erb :_response_times_per_url_data %>

      <%= erb :_url_verbs %>

      <%= erb :_url_referrers %>

      <%= erb :_url_browsers %>
    </div>
  </div>
</div>
