<h1>Url Stats for <%= @client.identifier.capitalize %></h1>

<div class="url-specific-stats">
  <p>Max Response Time: <%= @url_obj.max_response_time %></p>
  <p>Min Response Time: <%= @url_obj.min_response_time %></p>
  <p>Average Response Time <%= @url_obj.average_response_time.to_i %></p>
  <p>Response Times Across All Requests <%= @url_obj.all_response_times_sorted_high_to_low %></p>
  <p>HTTP Verbs Used <%= @url_obj.all_http_verbs %></p>
  <p>Top Three Referrers <%= @url_obj.top_three_referrers %></p>
  <p>Top Three User Agents <%= @url_obj.top_three_user_systems %></p>
</div>
