<h1>Your Data!!!!!!</h1>
<h2>Most Requested URLS</h2>
<%= erb :'partials/_url_stats' %>
Web Browser Breakdown (userAgent)<br>
<%= erb :'partials/_browser_breakdown' %>
OS Breakdown (userAgent)<br>
<%= erb :'partials/_os_breakdown' %>
Screen Resolution acroos all requests (W x H)<br>
<%= erb :'partials/_screen_res' %>
Average Response Time listed longest to shortest Per URL<br>
<%= erb :'partials/_response_time' %>
Hyperlinks of each url to view url specific data<br>
<%= erb :'partials/_url_hyperlinks' %>
Hyperlink to view aggregate event data<br>
<%= erb :'partials/_event_hyperlink' %>
